header{
    background: red;
    /*color:#FDED00;*/
    padding-bottom: 5px;
    padding-top: 5px;
    box-shadow: 0 2px 3px 0px #000000;
    text-align: center;
    box-sizing: border-box;
}
#titlebq{
    margin-left: 5px;
}
.logo{
    max-width: 88px;
    max-height: 83px;
    margin-right: 0px;
    padding-right: 0px;
    display: inline-block; 
}
.bqcm{
     display: inline-block;
     font-size: 40px;
     text-shadow:
     -2px -1px 0 #fff,  
      2px -1px 0 #fff,
     -2px 1px 0 #fff,
      2px 1px 0 #fff;
      
}
.bqh{
    display: inline-block;
    font-size: 45px;
    background:#FDED00; 
    margin-top: 10px;
    text-shadow:
     0 5px 0 #fff,  
      1px 1px 0 #fff,
     -1px 1px 0 #fff,
      1px 1px 0 #fff;
}

/*slider*/
#slider{
    box-shadow: 0 2px 3px 0px #000000;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-top: 0px;   
}
.bqslider img{
    padding: 0px;
    margin: 0px;
}

/*cards*/
.card{
    margin: 10px;
}
.color-blue{
    background: #64baff;
    box-shadow: 0 2px 3px 0px #000000;
    padding: 3px;
    color: white;
}
.color-green{
    background: #9bdb4d;
    box-shadow: 0 2px 3px 0px #000000;
    padding: 3px;
}
.color-orange{
    background: #ffa154;
    box-shadow: 0 2px 3px 0px #000000;
    padding: 3px;
}
.color-red{
    background: #ed5353;
    box-shadow: 0 2px 3px 0px #000000;
    padding: 3px;
    color: white;
}
/*app*/
.appimg{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#app{
    background: #FCFBFA;
    box-shadow: 0 2px 3px 0px #000000;
}
#app .card{
    margin: 6px;
    box-shadow: 0 2px 3px 0px #000000;
    padding: 0px;
}
.color-app-1{
    background: #fff394;
    box-shadow: 0 2px 3px 0px #000000;
    padding: 5px;
}
.color-app-2{
    background: #8cd5ff;
    box-shadow: 0 2px 3px 0px #000000;
    padding: 5px;
}
.color-app-3{
    background:#ff8c82 ;
    box-shadow: 0 2px 3px 0px #000000;
    padding: 5px;
}
.color-app-4{
    background: #d1ff82;
    box-shadow: 0 2px 3px 0px #000000;
    padding: 5px;
}
.color-app-5{
    background: #FFBDFF;
    box-shadow: 0 2px 3px 0px #000000;
    padding: 5px;
}
.color-app-6{
    background:#ffc27d ;
    box-shadow: 0 2px 3px 0px #000000;
    padding: 5px;
}

/*footer*/
footer{
    background: #1a1a1a;
    color: #4d4d4d;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-shadow: 0 -3px 3px 0px #000000;
}
#aboutus{
    font-size: 20px;
    text-shadow:
     -2px -1px 6px #fff,  
      2px -1px 6px #fff,
     -2px 1px 6px #fff,
      2px 1px 6px #fff;
}
#we{
    color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 14px;
}
#ualink{
    background: #1a1a1a;
    box-shadow: 0 2px 3px 0px #d4d4d4;
    margin: 5px;
    max-height: 100px;
    max-width: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
     border-radius: 50%;
     float: right;
         
}